*.idea
*.pyc
*.pkl
*.txt
/lib/
/obj/
*.sdf
*.suo
*.opensdf
/test_data/
*.png
/prj/linux_cmake_Python_Cplusplus/build/
/prj/linux_cmake_Python_Cplusplus/*.py
.vscode
demo/pybind11/*.so
demo/simple_code/*.pickle
demo/wheel/build/
demo/wheel/dist/
demo/wheel/testwheel.egg-info/
demo/pyd/build/
demo/pyd/addr.c
demo/pyd/addr.cp38-win_amd64.pyd
demo/results.yml